

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: dimgrey;

}

p {
    font-family: 'Roboto', sans-serif;

}

.navbar {
    font-family: 'Roboto', sans-serif;
}

a {
    font-family: 'Roboto', sans-serif;

}

body {
    background-image: url("background.jpg");
    
  }
  input[type=text], select, textarea {
    font-family: 'Roboto', sans-serif;  
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    font-family: 'Roboto', sans-serif;
    background-color: #6e6e6e;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 35px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    font-family: 'Roboto', sans-serif;
    background-color: #363636;
  }
  
  #contact {
    font-family: 'Roboto', sans-serif;
    margin-top: 2em;  
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  #gallery {
    font-family: 'Roboto', sans-serif;
    margin-top: 2em;  
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .thumbnail {
    position: relative;
    /* width: 100%; */
    height: 350px;
    overflow: hidden;
    margin-bottom: 10px;
  }
  .thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    /* width: auto; */
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }
  .thumbnail img.portrait {
    width: 100%;
    height: auto;
  }

  .thumbnail img.landscape {
    height: 100%;
    width: auto;
  }